
.home-img{
    
    width:97vw;
    margin-top: 20px;
    margin-left:10px;
    margin-right:10px;
    margin-bottom:10px;
}

    
 
.bgh
{
    display: flex;
    flex-direction:column;
    background-color: black;
}



